html,
body {
  font-family: Open Sans, arial, sans-serif;
  font-size: 3.125vmin;
  height: 100%;
  background-color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  min-height: 100vh;

  line-height: 1.5;

  overflow: hidden;
}

.Watcher {
  max-width: 1920px;
}

.InputField {
  display: flex;
  margin-bottom: 1vmin;
  padding: 1vmin;
  font-size: large;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.CustomInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vmin;
}
.CustomInput__label {
  display: inline-block;
  margin-left: 1vmin;
}

.CustomInput__text {
  display: inline-block;

  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  align-self: flex-end;
}

.CustomInput__text#timeZone {
}

.Button {
  padding: 1vmin;
  align-self: flex-end;
}
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  font-size: large;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: #fff;
}

.WatchField {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.Watch {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  border-radius: 10px;
  padding: 2vmin;
  margin: 1vmin;
}
.Watch_delete {
  position: absolute;
  top: 0.5vmin;
  right: 1vmin;
  padding: 0;
  cursor: pointer;
  font-size: small;
  z-index: 999;
}

.Watch_name {
  display: block;
  padding: 1vmin;
  font-size: medium;
}

.Watch_time {
  display: block;
  padding: 1vmin;
  border: solid black 1px;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

/* ! CLOCK */

.clock {
  position: relative;
  height: 30vmin;
  width: 30vmin;
  padding: 1vmin;
  background: #fff url('./img/ios_clock.svg') no-repeat center;
  background-size: 44%;
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.minutes-container,
.hours-container,
.seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
  background: #000;
  height: 15%;
  left: 48.75%;
  position: absolute;
  top: 35%;
  transform-origin: 50% 100%;
  width: 2.5%;
  border-radius: 5px;
}

.minutes {
  background: #000;
  height: 20%;
  left: 49%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2%;
  border-radius: 15px;
}

.seconds {
  background: #000;
  height: 25%;
  left: 49.5%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
  border-radius: 3px;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
.minutes-container {
  transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}
.seconds-container {
  transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}
